#
# /etc/udev/rules.d/10-samsung-usb.rules
#
# Original instructions from:
#     https://www.jeffgeerling.com/blog/2020/enabling-trim-on-external-ssd-on-raspberry-pi
#
# reload udev rules with:
#   udevadm control --reload-rules && udevadm trigger
# 
# Test with (should say "unmap"):
#   find /sys/ -name provisioning_mode -exec grep -H . {} + | sort
# 
# Example output:
#   /sys/devices/pci0000:00/0000:00:14.0/usb3/3-2/3-2:1.0/host14/target14:0:0/14:0:0:0/scsi_disk/14:0:0:0/provisioning_mode:unmap

ACTION=="add|change", ATTRS{idVendor}=="090c", ATTRS{idProduct}=="1000", SUBSYSTEM=="scsi_disk", ATTR{provisioning_mode}="unmap"
