
module twiest-zfs-snapshot-mount 1.0;

require {
	type mnt_t;
	type mount_exec_t;
	type unlabeled_t;
	type fs_t;
	type kernel_generic_helper_t;
	type device_t;
	class file { execute execute_no_trans getattr map open read };
	class lnk_file read;
	class dir { mounton search };
	class capability { setgid setuid sys_admin };
	class chr_file { ioctl open read write };
	class filesystem mount;
}

#============= kernel_generic_helper_t ==============
allow kernel_generic_helper_t device_t:chr_file { ioctl open read write };
allow kernel_generic_helper_t fs_t:filesystem mount;
allow kernel_generic_helper_t mnt_t:lnk_file read;
allow kernel_generic_helper_t mount_exec_t:file { execute execute_no_trans getattr open read };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow kernel_generic_helper_t mount_exec_t:file map;
allow kernel_generic_helper_t self:capability { setgid setuid sys_admin };
allow kernel_generic_helper_t unlabeled_t:dir { mounton search };
