[Unit]
Description=Setup directories in /sysroot based on the kernel commandline
DefaultDependencies=no
ConditionPathExists=/etc/initrd-release
OnFailure=emergency.target
After=ostree-prepare-root.service
Requires=sysroot.mount
Before=initrd-root-fs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/topdirs/mk-topdirs.sh
StandardInput=null
StandardOutput=journal
StandardError=journal+console
RemainAfterExit=yes
