[Unit]
Description=Service to Setup Samsung USB SSD Trim Support
DefaultDependencies=no
Requires=systemd-udev-settle.service
ConditionVirtualization=!container

[Service]
Type=oneshot
ExecStart=/usr/bin/fix-samsung-usb.sh
