#
# this file: /etc/udev/rules.d/20-silicon-power-sata.rules
#
# Original instructions from:
#     https://www.jeffgeerling.com/blog/2020/enabling-trim-on-external-ssd-on-raspberry-pi
#
# reload udev rules with:
#     udevadm control --reload-rules && udevadm trigger
# 
# Test with:
#      find /sys/ -name provisioning_mode -exec grep -H . {} + | sort
# 
# Should say "unmap"
# Example output:
# /sys/devices/pci0000:00/0000:00:14.0/usb3/3-2/3-2:1.0/host14/target14:0:0/14:0:0:0/scsi_disk/14:0:0:0/provisioning_mode:unmap

# This is for silicon power sata ssd drives with SiliconMotion SM2259XT2G controllers
ACTION=="add|change", SUBSYSTEM=="scsi_disk", ATTRS{model}=="SPCC Solid State", ATTRS{rev}=="9B0", ATTR{provisioning_mode}="unmap"

# This is for silicon power sata ssd drives with YeeStor YS9082HP controllers
ACTION=="add|change", SUBSYSTEM=="scsi_disk", ATTRS{model}=="SPCC Solid State", ATTRS{rev}=="704M", ATTR{provisioning_mode}="unmap"
